/*** University of Kent (UKC) LGBT Society ***/

/* Note to developer: 
** 'style-' has been preprended to all/most custom 
** added css styles to ensure no clashes 
** with Bootstrap and future updates. */

/*** MAIN ***/
body {
	font-family:'Pontano Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px;
	}
.jumbotron .h1, .jumbotron h1 {
	font-weight:bold;
	}
.jumbotron p {
	font-size:25px;
	}
.jumbotron {
	margin-bottom:0;
	}

/* LGBT BANNER */
#style-lgbt-section {
	width:16.6666666667%;
	float:left;
	height:30px;
	}
.style-lgbt-1 {background:#DB2404;}
.style-lgbt-2 {background:#F8641C;}
.style-lgbt-3 {background:#F6F101;}
.style-lgbt-4 {background:#3BB701;}
.style-lgbt-5 {background:#0975D9;} /*#2A98FE*/
.style-lgbt-6 {background:#7D3F92;} /*#3200A1*/

/* */
.style-bannerimage {
	margin-left:auto;
	margin-right:auto;
	max-width:80%;
	}
.style-email {
	font-size:50px !important;
	}
.style-copyrighttext {
	font-size:15px;
	margin-top:10px;
	margin-bottom:10px;
	}
.style-phraserow {
	background:#D9534F; /*#FF8AFF #DB2404 #D9534F*/
	color:#FFFFFF;
	padding-top:50px;
	padding-bottom:50px;
	font-size:22px;
	}
.style-about {
	padding-top:20px;
	padding-bottom:20px;
	}
/* */
#style-co-member {
	width:16.6666666667%;
	float:left;
	}
.style-co-1 {
	background:#DB2404;
	}
.style-co-2 {
	background:#F8641C;
	}
.style-co-3 {
	background:#F6F101;
	}
.style-co-4 {
	background:#3BB701;
	}
.style-co-5 {
	background:#0975D9;
	}
.style-co-6 {
	background:#7D3F92;
	}

/* BUTTON: RED */
.style-btn-red {
	color:#fff;
	background-color:#f0ad4e;
	border-color:#eea236
	}
.style-btn-red .active, 
.style-btn-red .focus, 
.style-btn-red:active, 
.style-btn-red:focus, 
.style-btn-red:hover, 
.open > .dropdown-toggle .style-btn-red {
	color:#fff;
	background-color:#ec971f;
	border-color:#d58512
	}
.style-btn-red .active, 
.style-btn-red:active, 
.open > .dropdown-toggle .style-btn-red {
	background-image:none
	}
.style-btn-red .disabled, 
.style-btn-red .disabled.active, 
.style-btn-red .disabled.focus, 
.style-btn-red .disabled:active, 
.style-btn-red .disabled:focus, 
.style-btn-red .disabled:hover, 
.style-btn-red[disabled], 
.style-btn-red[disabled] .active, 
.style-btn-red[disabled] .focus, 
.style-btn-red[disabled]:active, 
.style-btn-red[disabled]:focus, 
.style-btn-red[disabled]:hover, 
fieldset[disabled] .style-btn-red, 
fieldset[disabled] .style-btn-red .active, 
fieldset[disabled] .style-btn-red .focus, 
fieldset[disabled] .style-btn-red:active, 
fieldset[disabled] .style-btn-red:focus, 
fieldset[disabled] .style-btn-red:hover {
	background-color:#f0ad4e;
	border-color:#eea236
	}
.style-btn-red .badge {
	color:#f0ad4e;
	background-color:#fff
	}
/* /BUTTON: RED */

/* BUTTON: RAW
.btn-warning {
	color:#fff;
	background-color:#f0ad4e;
	border-color:#eea236
	}
.btn-warning.active, 
.btn-warning.focus, 
.btn-warning:active, 
.btn-warning:focus, 
.btn-warning:hover, 
.open > .dropdown-toggle .btn-warning {
	color:#fff;
	background-color:#ec971f;
	border-color:#d58512
	}
.btn-warning .active, 
.btn-warning:active, 
.open > .dropdown-toggle .btn-warning {
	background-image:none
	}
.btn-warning .disabled, 
.btn-warning .disabled.active, 
.btn-warning .disabled.focus, 
.btn-warning .disabled:active, 
.btn-warning .disabled:focus, 
.btn-warning .disabled:hover, 
.btn-warning[disabled], 
.btn-warning[disabled] .active, 
.btn-warning[disabled] .focus, 
.btn-warning[disabled]:active, 
.btn-warning[disabled]:focus, 
.btn-warning[disabled]:hover, 
fieldset[disabled] .btn-warning, 
fieldset[disabled] .btn-warning .active, 
fieldset[disabled] .btn-warning .focus, 
fieldset[disabled] .btn-warning:active, 
fieldset[disabled] .btn-warning:focus, 
fieldset[disabled] .btn-warning:hover {
	background-color:#f0ad4e;
	border-color:#eea236
	}
.btn-warning .badge {
	color:#f0ad4e;
	background-color:#fff
	}
/* /BUTTON: RAW */