/*** University of Kent (UKC) LGBT Society ***/

/* Note to developer: 
** 'style-' has been preprended to all/most custom 
** added css styles to ensure no clashes 
** with Bootstrap and future updates. */

/*** MAIN ***/
body {
	font-family:'Pontano Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px;}
a {color:#A348C2;}
a:focus, a:hover {color:#73328A;}

/* LGBT BANNER */
#style-lgbt-section {
	width:16.6666666667%;
	float:left;
	height:30px;}
.style-lgbt-1 {background:#DB2404;}
.style-lgbt-2 {background:#F8641C;}
.style-lgbt-3 {background:#F6F101;}
.style-lgbt-4 {background:#3BB701;}
.style-lgbt-5 {background:#0975D9;} /*#2A98FE*/
.style-lgbt-6 {background:#7D3F92;} /*#3200A1*/

/* INTRO */
.style-intro-btntoolbar .btn {margin-bottom:5px;}
.jumbotron .h1, .jumbotron h1 {
	font-weight:bold;
	}
.jumbotron p {
	font-size:25px;
	}
.jumbotron {
	margin-bottom:0;
	}
/* note: the jumbotron styles are universal */

/* LOGO BANNER*/
.style-logobanner {
	margin-left:auto;
	margin-right:auto;
	max-width:50%;}

/* EMAIL */
.style-email {font-size:30px !important;} /* responsive */

/* COPYRIGHT */
.style-copyrighttext {
	font-size:15px;
	margin-top:10px;
	margin-bottom:10px;}

/* PHRASE */
.style-phraserow {
	background:#D9534F; /*#FF8AFF #DB2404 #D9534F*/
	color:#FFFFFF;
	padding-top:50px;
	padding-bottom:50px;
	font-size:22px;}

/* ABOUT */
.style-about {
	padding-top:20px;
	padding-bottom:20px;}


/* BUTTON: PURPLE */
.style-btn-purple {
	color:#fff;
	background-color:#A348C2;
	border-color:#8637A1;}
.style-btn-purple .active, 
.style-btn-purple .focus, 
.style-btn-purple:active, 
.style-btn-purple:focus, 
.style-btn-purple:hover, 
.open > .dropdown-toggle .style-btn-purple {
	color:#fff;
	background-color:#73328A;
	border-color:#67257D;}
.style-btn-purple .active, 
.style-btn-purple:active, 
.open > .dropdown-toggle .style-btn-purple {
	background-image:none;}
.style-btn-purple .disabled, 
.style-btn-purple .disabled.active, 
.style-btn-purple .disabled.focus, 
.style-btn-purple .disabled:active, 
.style-btn-purple .disabled:focus, 
.style-btn-purple .disabled:hover, 
.style-btn-purple[disabled], 
.style-btn-purple[disabled] .active, 
.style-btn-purple[disabled] .focus, 
.style-btn-purple[disabled]:active, 
.style-btn-purple[disabled]:focus, 
.style-btn-purple[disabled]:hover, 
fieldset[disabled] .style-btn-purple, 
fieldset[disabled] .style-btn-purple .active, 
fieldset[disabled] .style-btn-purple .focus, 
fieldset[disabled] .style-btn-purple:active, 
fieldset[disabled] .style-btn-purple:focus, 
fieldset[disabled] .style-btn-purple:hover {
	background-color:#A348C2;
	border-color:#8637A1;}
.style-btn-purple .badge {
	color:#A348C2;
	background-color:#fff;}
/* /BUTTON: PURPLE */


/*** RESPONSIVE **/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.style-email {font-size:50px !important;} /* above: email */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}